.coin-total {
  font-family: "Avenir Next Condensed" !important;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid; */
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #2a2d3c;
  // opacity: 0.5;
  border: none;
}

// .coin-total:hover {
//   opacity: 1;
// }

.coin-img {
  padding: 10px;
}

.opacity {
  opacity: 0.7;
}

.coin-content {
  // color: #d0d1d5 !important;
  color: #ffffff !important;
  padding-left: 30px;
  width: 100%;
}

.coin-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.coin-gift {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 19px;
  letter-spacing: 0.1em;
}

.coin-button-group {
  display: flex;
  align-items: center;
  padding: 10px 0px 0px 0px;
}

// .coin-button {
//     display: flex;
//     align-items: center;
//     letter-spacing: 0.1em;
//     background-color: #7e818d;
//     // color: #d0d1d5;
//     margin: 0px 5px;
//     padding: 2px 9px;
//     border: none;
//     border-radius: 3px;
//     -webkit-border-radius: 3px;
//     -moz-border-radius: 3px;
//     -ms-border-radius: 3px;
//     -o-border-radius: 3px;
// }

.coin-img-coin {
  width: 90.5px;
  height: 90px;
}

.coin-number-symbol {
  width: 9px;
  height: 15px;
  margin-left: 1px;
}

.coin-number-contract {
  width: 20px;
  height: 20px;
}

.coin-button-receive {
  font-size: 14px;
  width: 145px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2em;
  background-color: #7e818d;
  color: #ffffff;
  // color: #d0d1d5;
  margin: 0px 5px;
  padding: 2px 9px;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;

  // margin: 0px;
  // padding: 0;
  // border: none;
  // outline: none;
  // background-color: transparent;
}

.coin-button-or {
  font-size: 18px;
  margin: 0px 2px;
}

.coin-button-gift {
  font-size: 14px;
  width: 145px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.3em;
  background-color: #7e818d;
  color: #ffffff;
  // color: #d0d1d5;
  margin: 0px 5px;
  padding: 2px 9px;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;

}

 #amount-label{
  color: #e74c3c;
  font-size: 15px;
}

.card-modal-button {
  background-color: #7e818d !important;
}

.card-modal-button-a {
  background-color: #7e818d !important;
}

.coin-button-group-img {
  width: 17px;
  height: 24px;
}

.coin-button-group-symbol {
  width: 8px;
  height: 13.6px;
  margin: 0px 4px;
}

@media only screen and (max-width: 610px) {
  .MuiSvgIcon-root {
    font-size: 2rem !important;
  }

  .coin-total {
    padding: 10px 12px;
    // opacity: 1;
  }

  .coin-img {
    display: flex;
    align-items: center;
    padding: 0px;
  }

  .coin-img-coin {
    width: 70.5px;
    height: 70px;
  }

  .coin-content {
    padding-left: 12px;
  }

  .coin-number {
    padding-top: 9px;
    font-size: 15px;
    letter-spacing: 0.1em;
  }

  .coin-number-symbol {
    width: 6px;
    height: 11px;
    margin-left: 2px;
  }

  .coin-number-contract {
    width: 15px;
    height: 15px;
  }

  .coin-gift {
    padding-top: 9px;
    font-size: 12px;
    letter-spacing: 0.1em;
  }

  .coin-button-group {
    padding: 10px 0px 0px 0px;
  }

  .coin-button-group-img {
    width: 12px;
    height: 16px;
  }

  .coin-button-group-symbol {
    width: 6px;
    height: 11px;
    margin: 0px 4px;
  }

  .coin-button {
    font-size: 10px;
    letter-spacing: 0.1em;
    margin: 0px 3px;
    padding: 2px 6px;
  }

  .coin-button-receive {
    font-size: 11px;
    width: 95.08px;
    padding: 2px 6px;
    margin: 0px 2px;
  }

  .coin-button-or {
    font-size: 11px;
    margin: 0px 1px;
  }

  .coin-button-gift {
    font-size: 11px;
    width: 95.08px;
    padding: 2px 6px;
    margin: 0px 2px;
    letter-spacing: 0.2em;
  }

}

@media screen and (max-width: 720px) {
  .give-modal {
    width: calc(100% - 20px) !important;
  }
}

@media screen and (max-width: 370px) {

  .coin-button-group-symbol {
    width: 4px;
    height: 7px;
    margin: 0px 2px;
  }

  .coin-number-contract {
    width: 12px;
    height: 12px;
  }

}