.home-total{
    background-color: #131830;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 66.5px 0px;
}

.home-title{
    font-family: "Avenir Next Condensed" !important;
    display: flex;
    justify-content: center;
    font-size: 80px;
    letter-spacing: 0.3em;
    color: #ffcc40;
    margin: 0;
}

.home-logos{
    display: flex;
    justify-content: center;
}

.home-logo{
    width: 500px;
    height: 500px;
}