@font-face { 
  font-family: "Avenir Next Condensed";
  src: url("../fonts/Avenir Next Condensed.ttf.ttf");
}

.App {
  font-family: "Avenir Next Condensed";
  text-align: center;
}

body{
  font-family: "Avenir Next Condensed";
  height: 100vh;
}




